In [67]:
import re
import pandas as pd

In [68]:
f = open('WhatsApp Chat with Bakchods .txt' , 'r' , encoding='utf-8')

In [69]:
data = f.read()

In [70]:
#print(data)

In [71]:
pattern = '\d{1,2}/\d{1,2}/\d{2}, \d{1,2}:\d{2}(?:\s|\u202F)?[AP]M -'
pattern1 = '\d{1,2}/\d{1,2}/\d{2}, \d{1,2}:\d{2}'

In [72]:
messages = re.split(pattern , data )[1:]

In [73]:
dates = re.findall(pattern1 , data)

In [74]:
#messages

In [75]:
#dates

In [76]:
df = pd.DataFrame({'user_message': messages, 'message_date': dates})
    # convert message_date type
df['message_date'] = pd.to_datetime(df['message_date'], format='%m/%d/%y, %H:%M')

df.rename(columns={'message_date': 'date'}, inplace=True)

In [77]:
df.head()

                                        user_message                date
0   Messages and calls are end-to-end encrypted. ... 2023-08-28 03:04:00
1        Shivam Roommate created group "Bakchods "\n 2023-08-28 03:04:00
2                        Shivam Roommate added you\n 2023-08-28 03:04:00
3   Taranveer Singh: Salon hostel mai kon kon hai... 2023-08-28 03:58:00
4   Shivam Roommate: Mess secretary ki applicatio... 2023-08-28 04:15:00

In [78]:
df.shape

(7275, 2)

In [79]:
    users = []
    messages = []
    for message in df['user_message']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:  # user name
            users.append(entry[1])
            messages.append(" ".join(entry[2:]))
        else:
            users.append('group_notification')
            messages.append(entry[0])

    df['user'] = users
    df['message'] = messages
    df.drop(columns=['user_message'], inplace=True)

In [80]:
df.head()

,date,user,message
0,2023-08-28 03:04:00,group_notification,Messages and calls are end-to-end encrypted. ...
1,2023-08-28 03:04:00,group_notification,"Shivam Roommate created group ""Bakchods ""\n"
2,2023-08-28 03:04:00,group_notification,Shivam Roommate added you\n
3,2023-08-28 03:58:00,Taranveer Singh,Salon hostel mai kon kon hai???\n
4,2023-08-28 04:15:00,Shivam Roommate,Mess secretary ki application dal do saare\n

In [81]:
df['year'] = df['date'].dt.year

In [82]:
df['month'] = df['date'].dt.month_name()

In [83]:
df['day'] = df['date'].dt.day

In [84]:
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

In [85]:
df.head()

,date,user,message,year,month,day,hour,minute
0,2023-08-28 03:04:00,group_notification,Messages and calls are end-to-end encrypted. ...,2023,August,28,3,4
1,2023-08-28 03:04:00,group_notification,"Shivam Roommate created group ""Bakchods ""\n",2023,August,28,3,4
2,2023-08-28 03:04:00,group_notification,Shivam Roommate added you\n,2023,August,28,3,4
3,2023-08-28 03:58:00,Taranveer Singh,Salon hostel mai kon kon hai???\n,2023,August,28,3,58
4,2023-08-28 04:15:00,Shivam Roommate,Mess secretary ki application dal do saare\n,2023,August,28,4,15